[user]
	name = Lachlan McCalman
	email = lachlan@mccalman.info

[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[merge]
	tool = meld

[mergetool]
  prompt = false
  keepBackup = false

[push]
	default = simple

[github]
	user = lmccalman

[pull]
	rebase = false

[init]
	defaultBranch = main
