[user]
	name = Lachlan McCalman
	email = lachlan@mccalman.info

[diff]
  tool = meld
	algorithm = patience

[merge]
	tool = meld
  conflictstyle = diff3

[push]
	default = simple

[github]
	user = lmccalman

[alias]
	pmerge = merge -X patience --
[pull]
	rebase = true
